html,
body {
  font: 16px/1.2 "Helvetica Neue", Helvetica, arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

h1#title, span {
  text-align: center;
  font-weight: 300;
  display: block;
  z-index: 1;
  position: relative;
}

canvas#game {
  z-index: 0;
  display: block;
  margin: 0px auto;
  position: absolute;
  top: 0px;
  left: 0px;
}
